.grid-column {
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* min-width: 325px;
    min-height: 300px; */
}


.button-row {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.copyBtn {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    .book-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 225px;
        min-height: 300px;
    }
}